# backend 폴더 내 데이터베이스 파일 무시
backend/group.db

# backend 폴더 내 사용자 데이터 파일 무시
backend/users.json

# backend/uploads 폴더 내 모든 파일 무시
backend/uploads/

backend/package-lock.json
backend/package.json
backend/node_modules/

backend/.package-lock.json
frontend/

*.db